<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<head>
    <meta charset="utf-8">
    <%
        function capitalize (str) { return str.charAt(0).toUpperCase() + str.substring(1).toLowerCase() }
        var title = page.title;
        if (is_archive()) {
            title = capitalize(__('index.archive'));
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = capitalize(__('index.category')) + ': ' + page.category;
        } else if (is_tag()) {
            title = capitalize(__('index.tag')) + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:     theme.head.miscellaneous.open_graph.fb_app_id,
        fb_admins:    theme.head.miscellaneous.open_graph.fb_admins,
        twitter_id:      theme.head.miscellaneous.open_graph.twitter_id,
        google_plus:  theme.head.miscellaneous.open_graph.google_plus,
    }) %>
    <%- meta(page) %>

    <% if (theme.head.rss) { %>
        <link rel="alternative" href="<%- theme.head.rss %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <% if (theme.head.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.head.favicon) %>" />
    <% } %>

    <%- css('vendor/bootstrap/dist/css/bootstrap.min') %>
    <%- css('vendor/font-awesome/css/font-awesome.min') %>
    <%- css('vendor/ionicons/css/ionicons.min') %>

    <%- css('css/tianxiamucun') %>
    <%- css('css/skins/all-skins.min') %>
    <%- css('css/style') %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <%- js('vendor/jquery/dist/jquery.min') %>
</head>
